<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="layoutSidenav_nav" th:fragment="sidebar">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard</a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Product management
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/product/create"><i class="fas fa-plus-circle"
                                                                            style="padding-right: 5px"></i>Add new
                            product</a>
                        <a class="nav-link" href="/admin/product/list"><i class="fas fa-th-list"
                                                                          style="padding-right: 5px"></i>List
                            product</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#categories"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Categories
                </a>
                <div class="collapse" id="categories" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/category/create"><i class="fas fa-plus-circle"
                                                                             style="padding-right: 5px"></i>Add new
                            Categories</a>
                        <a class="nav-link" href="/admin/category/list"><i class="fas fa-th-list"
                                                                           style="padding-right: 5px"></i>List
                            Categories</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#brands"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Brands
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="brands" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/brand/create"><i class="fas fa-plus-circle"
                                                                          style="padding-right: 5px"></i>Add new
                            Brand</a>
                        <a class="nav-link" href="/admin/brand/list"><i class="fas fa-th-list"
                                                                        style="padding-right: 5px"></i>List
                            Brands</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="/admin/bill/list" >
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Invoice Management

                </a>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Account
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth"
                           aria-expanded="false" aria-controls="pagesCollapseAuth"
                        >Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            >
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                             data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a
                                    class="nav-link" href="register.html">Register</a><a class="nav-link"
                                                                                         href="password.html">Forgot
                                Password</a></nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError"
                           aria-expanded="false" aria-controls="pagesCollapseError"
                        >Error
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            >
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                             data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a
                                    class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500
                                Page</a></nav>
                        </div>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="charts.html"
                >
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Charts</a
                ><a class="nav-link" href="tables.html"
            >
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Tables</a
            >
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>
</body>
</html>