<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<main layout:fragment="content">

    <div class="container-fluid">
        <h1 class="mt-4">Bill</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Invoice Management</li>
        </ol>
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Ordered list</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Bill ID</th>
                            <th>Customer's Name</th>
                            <th>Order date</th>
                            <th>Received date</th>

                            <th>Consignee's phone</th>
                            <th>Address</th>
                            <th>Status</th>

                        </tr>
                        </thead>

                        <tbody>
                        <div th:each="bill : ${bills}">
                            <tr>
                                <td th:text="${'BKS000'+bill.getId()}"></td>
                                <td th:text="${bill.getCustomer().getCustomerName()}"></td>
                                <td th:text="${#calendars.format(bill.getOrderDate(), 'dd-MM-yyyy')}"></td>
                                <td th:utext="${#calendars.format(bill.getReceivedDate(), 'dd-MM-yyyy')}"></td>
                                <td th:utext="${bill.getPhone()}"></td>
                                <td th:utext="${bill.getAddress()}"></td>
                                <td th:switch="${bill.getStatus()}">
                                    <button th:case="0" type="button" class="btn btn-primary" data-toggle="modal" th:data-target="${'#Modal'+ bill.getId()}">
                                        Delivery
                                    </button>
                                    <a th:case="1" class="btn btn-success">Received</a>
                                    <a th:case="2" class="btn btn-danger">Canceled</a>
                                </td>

                            </tr>
                            <div class="modal fade" th:id="${'Modal'+ bill.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Has the order been delivered?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                                            <a th:href="${'/admin/bill/update/'+bill.getId()}" class="btn btn-primary">YES</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>