<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${message}">
        <div th:class="${alert}" role="alert" th:text="${message}">
        </div>
    </th:block>
    <div class="card">
        <h5 class="card-header">Add Category</h5>
        <div class="card-body">
            <form th:action="@{/admin/management/create}" th:object="${admin}" method="post">
                <label for="Name">Name</label>
                <input th:field="*{name}" type="text" class="form-control" id="Name"
                       aria-describedby="cateHelp" placeholder="Category name">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input th:field="*{email}" type="text" class="form-control" id="email"
                           aria-describedby="cateHelp" placeholder="Category name">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>