<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | Karma sport</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${message}">
        <div th:class="${alert}" role="alert" th:text="${message}">
        </div>
    </th:block>

    <div class="card">
        <h5 class="card-header" th:text="${product.getProductID()==null ? 'Add product':'Update product'}"></h5>
        <div class="card-body">
            <form th:action="${product.getProductID()==null ? '/admin/product/create':'/admin/product/update'}" method="post" th:object="${product}"
                  accept-charset="UTF-8"  enctype="multipart/form-data" id="productForm">
                <div class="form-group" style="display: none">
                    <label >Product ID</label>
                    <input type="text" th:field="*{productID}" class="form-control" id="productID" name="productID"
                          readonly>
                </div>
                <div class="col-sm-8" style="float: left">
                    <div class="form-group">
                        <label >Product name</label>
                        <input type="text" th:field="*{productName}" class="form-control"
                               placeholder="Product name">
                    </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" th:field="*{category.categoryId}">
                                <option th:each="cate : ${categories}" th:value="${cate.getCategoryId()}"
                                        th:text="${cate.categoryName}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" th:field="*{quantity}" class="form-control" id="quantity"
                                   name="quantity" min="0"
                                   placeholder="Quantity" aria-describedby="amountHelp">
                            <small id="amountHelp" class="form-text text-muted">Must be a number and be greater than
                                0</small>
                        </div>

                        <div class="form-group">
                            <label >Price($)</label>
                            <input type="number" th:field="*{price}" class="form-control"
                                   aria-describedby="emailHelp" placeholder="Price" min="0" required>
                            <small id="priceHelp" class="form-text text-muted">Must be a number and be greater than
                                0</small>
                        </div>
                    <div class="form-group">
                        <label >Sale(%)</label>
                        <input type="text" th:field="*{sale}" class="form-control"
                               aria-describedby="emailHelp" placeholder="sale" min="0" required>
                        <small id="saleHelp" class="form-text text-muted">Must be a number and be greater than
                            0</small>
                    </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" name="status" id="status" th:field="*{status}">
                                <option th:value="${true}">In Stock</option>
                                <option th:value="${false}">Out Stock</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Description</label>
                            <textarea  th:field="*{description}" class="form-control"
                                       placeholder="description"></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary" th:text="${product.getProductID()==null ? 'Create':'Update'}"></button>

                </div>
                    <div class="col-sm-4" style="float: left; margin: 0 auto">
                        <div class="form-group">
                                <img th:src="${'/upload/'+ product.getImage()}" id="selectImage" alt="image"
                                     width="150px" height="150px">
                            <input type="file" class="form-control" id="img" name="img" th:value="${product.getImage()}"
                                   aria-describedby="imagehelp" onchange="readURL(this)" accept="image/*">
                            <small id="imagehelp" class="form-text text-muted">Photo size is less than 1MB</small>
                        </div>
                        <div class="form-group">
                            <img th:src="${'/upload/'+ product.getImage1()}" id="selectImage1" alt="image"
                                 width="150px" height="150px">
                            <input type="file" class="form-control" id="img1" name="img1" th:value="${product.getImage1()}"
                                   aria-describedby="imagehelp1" accept="image/*" onchange="document.getElementById('selectImage1').src = window.URL.createObjectURL(this.files[0])">
                            <small id="imagehelp1" class="form-text text-muted">Photo size is less than 1MB</small>
                        </div>
                        <div class="form-group">
                            <img th:src="${'/upload/'+ product.getImage2()}" id="selectImage2" alt="image"
                                 width="150px" height="150px">
                            <input type="file" class="form-control" id="img2" name="img2" th:value="${product.getImage2()}"
                                   aria-describedby="imagehelp2" accept="image/*" onchange="document.getElementById('selectImage2').src = window.URL.createObjectURL(this.files[0])">
                            <small id="imagehelp2" class="form-text text-muted">Photo size is less than 1MB</small>
                        </div>
                    </div>

            </form>
        </div>
    </div>
    <script>


        function readURL(input) {

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $('#selectImage').attr('src', e.target.result).width(150).height(
                        150);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</div>


</body>
</html>