<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="billing_details" layout:fragment="content">
    <div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form class="row contact_form" action="/bill/add" method="post" novalidate="novalidate" id="formCheckOut">
                <div class="col-md-6 form-group p_star">
                    <label >Your Name</label>
                    <input type="text" class="form-control"  th:value="${customer.getCustomerName()}" readonly>

                </div>

                <div class="col-md-6 form-group p_star">
                    <label  >Phone number</label>
                    <input type="text" class="form-control"  id="phone" name="phone" th:value="${customer.phone}">

                </div>

                <div class="col-md-12 form-group p_star">
                    <label >Address Line</label>
                    <input type="text" class="form-control" id="address" name="address"  th:value="${customer.getAddress()}">

                </div>



            </form>
        </div>
        <div class="col-lg-4">
            <div class="order_box" style="height: 600px">
                <h2>Your Order</h2>
                <ul class="list" style="height: 400px">
                    <li><a href="#">Product <span>Into money</span></a></li>
                    <li th:each="cart : ${carts}">
                        <span th:text="${cart.getProduct().getProductName()}" style="font-size: 12px"></span>
                        <span class="middle" th:text="${'x '+ cart.getQuantity()}" style="color:blue;"></span>
                            <span class="last" th:text="${'$'+ (cart.getProduct().getPrice()* cart.getQuantity())}" style="color:darkred;"></span>
                    </li>

                </ul>
                <ul class="list list_2">
                    <li><a href="#">Total <span th:text="${'$'+ totalmoney}"></span></a></li>
                </ul>
                <input class="primary-btn" type="submit" form="formCheckOut" value="Proceed to Paypal" style="border: none; margin-left: 20px">
            </div>
        </div>
    </div>
    </div>
    <div th:replace="customer/commons/related-product :: related-product"></div>
</div>
</body>
</html>