<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Karma| Home</title>
</head>
<body>
<div layout:fragment="content" class="container" style="padding-top: 70px">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="main-nav-list">  <a th:href="@{/home(category=all)}">
                        all</a></li>
                    <li class="main-nav-list" th:each="cate:${categories}">
                        <a  th:href="@{/home(category=${cate.getCategoryName()})}">
                            <span th:text="${cate.categoryName}"></span></a>

                    </li>

                </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                    <form action="#">
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="apple"
                                                           name="brand"><label
                                    for="apple">Apple<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="asus"
                                                           name="brand"><label for="asus">Asus<span>(29)</span></label>
                            </li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee"
                                                           name="brand"><label
                                    for="gionee">Gionee<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax"
                                                           name="brand"><label for="micromax">Micromax<span>(19)</span></label>
                            </li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung"
                                                           name="brand"><label
                                    for="samsung">Samsung<span>(19)</span></label></li>
                        </ul>
                    </form>
                </div>
                <div class="common-filter">
                    <div class="head">Color</div>
                    <form action="#">
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="black"
                                                           name="color"><label
                                    for="black">Black<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                                                           name="color"><label for="balckleather">Black
                                Leather<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                                                           name="color"><label for="blackred">Black
                                with red<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
                                                           name="color"><label for="gold">Gold<span>(19)</span></label>
                            </li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label
                                    for="spacegrey">Spacegrey<span>(19)</span></label></li>
                        </ul>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">

                </div>
                <div class="sorting mr-auto">

                </div>
                <div class="pagination" >
                    <a  th:href="@{/home(page=0)}"   class="prev-arrow"><--</a>
                    <a th:each="i : ${#numbers.sequence(1,products.getTotalPages())}" th:href="@{/home(page=${i-1})}"  th:text="${i}"></a>
                    <a th:href="@{/home(page=${products.getTotalPages()-1})(category=${categoryName})}" class="next-arrow">--></a>


                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    <!-- single product -->
                    <div class="col-lg-4 col-md-6" th:each="prod:${products}">
                        <div class="single-product">
                            <img class="img-fluid" th:src="${'/upload/'+ prod.getImage()}" alt="" width="300px" height="300px">
                            <div class="product-details">
                                <h6 th:text="${prod.getProductName()}"></h6>
                                <div class="price">
                                    <h6 th:if="${prod.sale >0}" th:text="${prod.getPrice()- (prod.getPrice()/100 * prod.sale)}" ></h6>
                                    <h6 th:if="${prod.sale == 0}" th:text="${prod.getPrice() + '$'}"></h6>
                                    <h6 th:if="${prod.sale > 0}" class="l-through"th:text="${prod.getPrice()+'$'}" ></h6>
                                </div>
                                <div class="prd-bottom">

                                    <a th:if="${prod.getQuantity() > 0}" th:href="${'/addtocart/'+prod.getProductID()}" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a th:if="${prod.getQuantity() <= 0}"  class="social-info">
                                        <span class="lnr lnr-pilcrow"></span>
                                        <p class="hover-text">sold out</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a th:href="${'/product/'+ prod.getProductID()}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a  th:href="@{/home(page=0)}"   class="prev-arrow"><--</a>
                    <a th:each="i : ${#numbers.sequence(1,products.getTotalPages())}" th:href="@{/home(page=${i-1})}"  th:text="${i}"></a>
                    <a th:href="@{/home(page=${products.getTotalPages()-1})}" class="next-arrow">--></a>
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>

    <div th:replace="customer/commons/related-product :: related-product"></div>
</div>


</body>
</html>