<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>


</head>
<body>
<div layout:fragment="content" class="container" style="height: 800px;padding-top: 70px">


    <div class="row">
        <div th:replace="~{customer/commons/sidebarprofile ::sidebarprofile}"></div>
        <div class="col-xl-9 col-lg-8 col-md-7">

        </div>


    </div>
</div>

</div>

</body>
</html>