<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <img class="img-fluid" th:src="@{/customer/img/login.jpg}" alt="">
                        <div class="hover">
                            <h4>New to our website?</h4>
                            <p>There are advances being made in science and technology everyday, and a good example of
                                this is the</p>
                            <a class="primary-btn" href="/login">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Create an account</h3>
                        <form class="row login_form" action="/register" method="post" id="registerForm" th:object="${customer}">
                            <th:block th:if="${message}">
                                <div th:class="${alert}" role="alert" th:text="${message}">
                                </div>
                            </th:block>
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                       th:field="*{email}"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="your name"  maxlength="100"
                                       th:field="*{customerName}"    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control"  placeholder="Password"  maxlength="50"
                                       th:field="*{password}"    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" maxlength="50"
                                       placeholder="Repeat password" onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = 'Repeat password'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control"  placeholder="Phone" maxlength="15"
                                       th:field="*{phone}"      onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" required>
                            </div>
                            <div class="col-md-12 form-group" style="text-align: left">
                                <label for="address" style="color: grey; margin-left: 14px">Address:</label>
                                <textarea type="text" class="form-control" id="address" name="address" maxlength="255" required>
                                </textarea>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="primary-btn">Register</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">


</script>
</body>
</html>