<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/commons/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>ADMIN | Karma sport</title>
</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${message}">
        <div class="alert alert-success" role="alert" th:text="${message}">
        </div>
    </th:block>
    <div class="card">
        <h5 class="card-header">Add Category</h5>
        <div class="card-body">
            <form th:action="@{/admin/category/create}" th:object="${category}" method="post" enctype="multipart/form-data">
                <label for="exampleInputEmail1">Category name</label>
                <input th:field="*{categoryName}" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="cateHelp" placeholder="Category name">
                <small id="cateHelp" class="form-text text-muted">Must be true</small>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>